{% extends "ComstarEntityAuditBundle::layout.html.twig" %}

{% block comstar_entityaudit_content %}
<h1>Revisions</h1>

<ul>
{% for revision in revisions %}
    <li><a href="{{ path('comstar_entity_audit_viewrevision', { 'rev': revision.rev }) }}">{{ revision.timestamp|date('r') }} -- {{ revision.username|default('Anonymous') }}</a></li>
{% endfor %}
</ul>
{% endblock comstar_entityaudit_content %}